@page "/"
@layout MainLayout
@inject NavigationManager nav




<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg mt-4 blue-background">
    <h1 class="text-center display-4 fw-bold">הספרייה שלי</h1>
    <div class="col-lg-4 offset-lg-1 p-0 mb-2 overflow-hidden">
        <img class="rounded-lg-2 transparent-image" src="/AvatarsFolder/pandaImg.jpg" alt="" width="300">
    </div>

    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis text-center">ברוכים הבאים</h1>
        <p class="lead text-center" style="font-size:30px;">יש לכם כבר משתמש? לחצו על כניסה, אם אין לכם משתמש לחצו על הרשמה וצרו לכם משתמש חדש</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center mb-4 mb-lg-3 text-center">
            <button type="button" @onclick=ToLoginPage class="btn btn-primary btn-lg px-4  me-md-2">כניסה</button>
            <button type="button" @onclick=ToRegisterPage class="btn btn-secondary btn-lg px-4  me-md-2">הרשמה</button>
        </div>
    </div>
</div>



<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg blue-background mb-4 mt-4">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3 d-flex align-items-center">
        <img style="inline-size:300px;" src="/Images/booksicong.jpg" alt="star-icon" width="150" class="me-3">
        <div>
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis text-center">מגוון ספרים מדהימים מחכים לכם</h1>
            <p class="lead text-center mt-4 display-1" style="font-size:30px;">מגוון ספרים מסוגי ז'אנרים שונים לילדים ולנוער</p>
        </div>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
        <img class="rounded-lg-3 transparent-image" src="/AvatarsFolder/squirlAvatar (1).jpg" alt="" width="300">
    </div>
</div>






<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg blue-background mb-4">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3 d-flex align-items-center">
        <img src="/Images/music icon.png" alt="music-icon" width="150" class="me-3">
        <div>
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis text-center">גלו את עולם הספרים הדיגיטליים</h1>
            <p class="lead text-center mt-4 display-1" style="font-size:30px;">חפשו את הספרים הדיגיטליים באתר ותוכלו להנות ולשמוע ממגוון הספרים הדיגיטליים</p>
        </div>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
        <img class="rounded-lg-3 transparent-image" src="/AvatarsFolder/penguinAvatar (1).jpg" alt="" width="300">
    </div>
</div>








<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg blue-background mb-4">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3 d-flex align-items-center">
        <img src="/Images/star icon.png" alt="star-icon" width="150" class="me-3">
        <div>
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis text-center">הספרים המועדפים שלי</h1>
            <p class="lead text-center mt-4 display-1" style="font-size:30px;">תוכלו ליצור רשימת ספרים אהובים משלכם עבור המשתמש שלכם</p>
        </div>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
        <img class="rounded-lg-3 transparent-image" src="/AvatarsFolder/myDragonImg.jpg" alt="" width="300">
    </div>
</div>


<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg blue-background mb-4">
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
        <img class="rounded-lg-3 transparent-image" src="/AvatarsFolder/lady.jpg" alt="" width="300">
    </div>

    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis text-center mb-3">?אז למה אתם מחכים</h1>
        <p class="lead text-center bt-4 display-1" style="font-size:48px;">הצטרפו עוד היום לאתר הספרייה שלי, אנחנו מחכים לכם</p>
        
    </div>
    
</div>

<style>
    body{
        background-color: lightblue;
    }

    .blue-background {
        background-color: rgba(255, 255, 255, 1); 
    }

    .transparent-image {
        background-color: transparent;
    }

    .image-container {
        background-color: white;
        padding: 10px;
        display: inline-block; 
    }

</style>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


@code{
    private void ToRegisterPage()
    {
        nav.NavigateTo("/RegisterNewPage", true);
    }

    private void ToLoginPage()
    {
        nav.NavigateTo("/LoginPage", true);
    }




}