@inherits LayoutComponentBase
@inject MangerService mangerService
@inject NavigationManager nav
@inject IJSRuntime JSRuntime

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
    window.addEventListener('load', function () {
        history.pushState(null, null, document.URL);
        window.addEventListener('popstate', function () {
            history.pushState(null, null, document.URL);
        });
    });
</script>

<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <div class="container-fluid">
        <button data-mdb-collapse-init
                class="navbar-toggler"
                type="button"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand mt-2 mt-lg-0" href="#">
                <div>My library</div>
            </a>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="MangersListPage">משתמשי המערכת</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="AddNewBook">ספריי הספרייה</a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link" href="LendingsUsers">השאלות המשתמשים</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="BooksListPage">חיפוש ספר</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="AddNewLending">קטגוריות נוספות</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="WritersListPage">מנהלי המערכת</a>
                </li>

                @if (mangerService.CurrentManger != null)
                {
                    <li class="nav-item dropdown ml-10">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="AvatarsFolder/penguinAvatar (1).jpg" alt="Avatar" class="avatar-img rounded-circle border border-dark">
                            <span class="user-info">היי, @mangerService.CurrentManger.FirstName המנהל </span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" @onclick="UpdateUser" >עדכון פרטי מנהל</a></li>
                            <li><a class="dropdown-item" @onclick="Logout" >התנתקות</a></li>
                        </ul>
                    </li>
                }
            </ul>

        </div>
    </div>
</nav>



<style>
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .content {
        flex: 1;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social-icon {
        margin: 0 10px;
        cursor: pointer;
    }

        .social-icon i {
            font-size: 2rem; /* Adjust the size as needed */
        }

    .avatar-img {
        width: 70px; /* Adjust the size as needed */
        height: 70px; /* Adjust the size as needed */
        object-fit: cover;
        border: 1px solid #000; /* Black border with 1px width */
    }
</style>





<div class="content">
    <!-- Page content -->
    @Body
</div>

<footer class="text-center bg-body-tertiary">
    <!-- Grid container -->
    <div class="container pt-4">
        <!-- Section: Social media -->
        <div class="social-icons">
            <!-- Android Icon -->
            <div class="social-icon">
                <i class="bi bi-android2"></i>
            </div>

            <!-- Google Play Store -->
            <div class="social-icon">
                <i class="bi bi-google-play"></i>
            </div>

            <!-- Apple Icon Logo -->
            <div class="social-icon">
                <i class="bi bi-apple"></i>
            </div>
        </div>
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 My_Library_Ron
    </div>
    <!-- Copyright -->
</footer>



@code {

    public async void Logout()
    {
        if (mangerService.CurrentManger != null)
        {
            // await JSRuntime.InvokeVoidAsync("preventBack");
            mangerService.CurrentManger = null;
            nav.NavigateTo("/", true);
        }
    }

    private void UpdateUser()
    {
        if (mangerService.CurrentManger != null)
        {
        }
    }

    
}


